.main {
  height: 100%;
  width: 100%;
}
.loading {
  font-family: var(--font-wulkan-display);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: var(--foreground);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 99;
}
.loading svg {
  z-index: 100;
  width: 150px;
  height: auto;
}
.loading svg circle {
  stroke-dasharray: 500px;
  animation: dash 5s ease-in infinite;
  strokewidth: 0.5px;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.container {
  position: relative;
  z-index: 10;
}
